.sconsign.dblite
*.aux
*.log
*.nav
*.fls
*.fdb_latexmk
*.synctex.gz
*.snm
*.toc
*.vrb
*.out
*.swp
inclass/*.o
inclass/*.pdf
inclass/fibers
inclass/handover
inclass/master
inclass/processes
inclass/threads
