concurrency-print.*
*-eps-converted-to.pdf
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*~
.xpdf-running
concurrency.pdf
concurrency.tar.gz
figs/monitor-eps-converted-to.pdf
figs/monitorcond-eps-converted-to.pdf
stkframe.pdf
stkframe.tex
