mem_allocation-print.*
*-eps-converted-to.pdf
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*~
.xpdf-running
baker.pdf
baker.tex
figs/arena-eps-converted-to.pdf
figs/bestfit-eps-converted-to.pdf
figs/bestwrong1-eps-converted-to.pdf
figs/bestwrong2-eps-converted-to.pdf
figs/coalesce-eps-converted-to.pdf
figs/cycle-eps-converted-to.pdf
figs/dsm-eps-converted-to.pdf
figs/ffnuance-eps-converted-to.pdf
figs/fightfrag-eps-converted-to.pdf
figs/frag-eps-converted-to.pdf
figs/frag2-eps-converted-to.pdf
figs/frags1-eps-converted-to.pdf
figs/frags2-eps-converted-to.pdf
figs/frags3-eps-converted-to.pdf
figs/freelist-eps-converted-to.pdf
figs/nofree-eps-converted-to.pdf
figs/overhead-eps-converted-to.pdf
figs/pathological1-eps-converted-to.pdf
figs/pathological2-eps-converted-to.pdf
figs/peaks-eps-converted-to.pdf
figs/peaks-trace-eps-converted-to.pdf
figs/plateaus-eps-converted-to.pdf
figs/plateaus-trace-eps-converted-to.pdf
figs/ramps-eps-converted-to.pdf
figs/ramps-trace-eps-converted-to.pdf
figs/refcnt1-eps-converted-to.pdf
figs/refcnt2-eps-converted-to.pdf
figs/resume1-eps-converted-to.pdf
figs/resume2-eps-converted-to.pdf
figs/sbrk-eps-converted-to.pdf
figs/segregated-free-eps-converted-to.pdf
figs/vm-eps-converted-to.pdf
mem_allocation.pdf
mem_allocation.tar.gz
