processes-print.*
*-eps-converted-to.pdf
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*~
.xpdf-running
figs/abpar-eps-converted-to.pdf
figs/abseq-eps-converted-to.pdf
figs/createprocess-eps-converted-to.pdf
figs/forkwait-eps-converted-to.pdf
figs/ioparallel-eps-converted-to.pdf
figs/ipc-eps-converted-to.pdf
figs/kthread-eps-converted-to.pdf
figs/memlayout-eps-converted-to.pdf
figs/pcb-eps-converted-to.pdf
figs/proc-eps-converted-to.pdf
figs/proclist-eps-converted-to.pdf
figs/statetrans-eps-converted-to.pdf
figs/switch-eps-converted-to.pdf
figs/thread-eps-converted-to.pdf
figs/ukthread-eps-converted-to.pdf
figs/uthread-eps-converted-to.pdf
figs/waitq-eps-converted-to.pdf
minish
pcb.pdf
pcb.tex
pipesh
processes-print.*
processes.pdf
processes.tar.gz
procstate.pdf
redirsh
src.pdf
src.ps
stkframe.pdf
stkframe.tex
switch1.pdf
switch1.tex
switch2.pdf
switch2.tex
switch3.pdf
switch3.tex
switch4.pdf
switch4.tex
switch5.pdf
switch5.tex
